@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ffffff;
}

.student-profile {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; /* Increase font size for the entire profile */
  }
  
  .profile-details {
    display: flex;
    flex-wrap: wrap;
  }
  
  .profile-section {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .profile-section h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px; /* Increase font size for section headings */
    color: #333;
  }
  
  .profile-section p {
    margin: 5px 0;
    font-size: 18px; /* Increase font size for paragraph text */
    color: #555;
  }
  
  .profile-section strong {
    font-weight: bold;
    color: #222;
  }
  